<% include ../partials/header %>
<div class="jumbotron">
<h1 align = 'center'><%= fullname %></h1>

<ul>
    <h2 align = 'center'><%= id%></h2>
</ul>

<h3 align = 'center'><%= major %> </h3>
</div>
<% include ../partials/footer %>