<% include ../partials/header %>





<div class="jumbotron ">
            <h1 class="display-3 text-center">Express.JS</h1>
            <p class="lead  text-center">Project Midterm </p>
            <hr class="my-2  text-center">
            &nbsp
            <p class="lead  text-center">
                <a class="btn btn-default btn-lg" href="about" role="button">About Me</a>
                
            </p>
</div>






<% include ../partials/footer %>