<% include ../partials/header %>
<form action="/products/product_add" method="post">
<div class="jumbotron">
<h1 class="display-4"> Add Product</h1>
<div class="form-group">
  <label for="">ID</label>
  <input type="number"
    class="form-control" name="id" id="" aria-describedby="helpId" placeholder="" value="">
  <small id="helpId" class="form-text text-muted">Product ID</small>
</div>

<div class="form-group">
    <label for="">Title</label>
    <input type="text"
      class="form-control"  name="title" id="" aria-describedby="helpId" placeholder="" value="">
    <small id="helpId" class="form-text text-muted">Product Title</small>
  </div>

  <div class="form-group">
    <label for="">Price</label>
    <input type="number"
      class="form-control"  name="price" id="" aria-describedby="helpId" placeholder="" value="">
    <small id="helpId" class="form-text text-muted">Product Price</small>
  </div>

  <div class="form-group">
    <label for="">Create At</label>
    <input type="text"
      class="form-control" value="<%= time %>" name="create" id="" aria-describedby="helpId" placeholder="" disabled>
    <small id="helpId" class="form-text text-muted">create at</small>
  </div>

<button type="submit" class="btn">CANCEL</button>
<button type="submit" class="btn btn-primary">ADD</button>
</div>
</form>


<% include ../partials/footer %>
