<% include ../partials/header %>
<form action="/users/user_add" method="post">
<div class="jumbotron">
<h1 class="display-4"> Add User</h1>
<div class="form-group">
  <label for="">ID</label>
  <input type="number"
    class="form-control" name="id" id="" aria-describedby="helpId" placeholder="" value="">
  <small id="helpId" class="form-text text-muted">User ID</small>
</div>

<div class="form-group">
    <label for="">Email</label>
    <input type="text"
      class="form-control"  name="email" id="" aria-describedby="helpId" placeholder="" value="">
    <small id="helpId" class="form-text text-muted">User Email</small>
  </div>

  <div class="form-group">
        <label for="">Password</label>
        <input type="text"
          class="form-control" value="" name="password" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">User Password</small>
      </div>
    
      <div class="form-group">
        <label for="">Re Password</label>
        <input type="password"
          class="form-control" value="" name="repassword" id="" aria-describedby="helpId" placeholder="">
        <small id="helpId" class="form-text text-muted">Re Password</small>
      </div>

      <div class="form-group">
        <label for="">Create At</label>
        <input type="text"
          class="form-control" value="<%= time %>" name="time" id="" aria-describedby="helpId" placeholder="" >
        <small id="helpId" class="form-text text-muted">create at</small>
      </div>

<button type="submit" class="btn">CANCEL</button>
<button type="submit" class="btn btn-primary">ADD</button>
</div>
</form>


<% include ../partials/footer %>
